# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# added by Min

project/project/
project/target/
target/
lib_managed/
src_managed/
project/boot/
.history
.cache

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea
/out/
.idea_modules/

# mac
.DS_Store

# other
.history
.scala_dependencies
.cache-main

# bloop and metals
.bloop
.bsp

# metals
project/metals.sbt
.metals
*/bin/*


.vscode
/scratch.sc
